* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   color:#424242;
   font-family: Inter, sans-serif;
   font-weight: 400;
   overflow: hidden;
}
#flex-container{
    display:flex;
    /* border-bottom: #424242; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 0.5px solid #d5d5d5;
    /* margin: 20px 0; */
    
}

.logo{
    width:100x;
    /* flex-direction: row;; */
    align-self: flex-start;
  
    
}

.navlinks {
    display: flex;
    width: 40vw;
    font-size: 20px;
    justify-content: space-between;
 
    
    

}

hr{
    width: 1px;
}



#btn{
    color: white;
    background:  #387ed1; 
    border: none;
    border-radius:3px;

    padding: 20px;   
    display:flex;
    align-self:center;
}

.invest{
    width:100vw;
    margin:5vw;
    padding:10px;
    font-size: 20px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#ldpg{
    display:flex;
    flex-direction:row;
    justify-content: center;

}

.landingpg{

 
    width: 70vw ;
    margin: 30px;

}
